name: Swift nightly build

on:
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ['nightly-focal', 'nightly-jammy', 'nightly-amazonlinux2']
        postgres-image:
            - "postgres:17"
            - "postgres:14"
        include:
            - postgres-image: postgres:17
              postgres-auth: scram-sha-256
            - postgres-image: postgres:14
              postgres-auth: md5

    container:
      image: swiftlang/swift:${{ matrix.image }}
      volumes: ["pgrunshare:/var/run/postgresql"]
      env:
          POSTGRES_DB: "test_database"
          POSTGRES_USER: "test_user"
          POSTGRES_PASSWORD: "test_password"
          POSTGRES_HOSTNAME: "psql"
          POSTGRES_SOCKET: "/var/run/postgresql/.s.PGSQL.5432"
          POSTGRES_HOST_AUTH_METHOD: ${{ matrix.postgres-auth }}
    services:
        psql:
            image: ${{ matrix.postgres-image }}
            volumes: ["pgrunshare:/var/run/postgresql"]
            env:
                POSTGRES_DB: "test_database"
                POSTGRES_USER: "test_user"
                POSTGRES_PASSWORD: "test_password"
                POSTGRES_HOST_AUTH_METHOD: ${{ matrix.postgres-auth }}
                POSTGRES_INITDB_ARGS: --auth-host=${{ matrix.postgres-auth }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Test
      run: |
        swift test
